body {
    background-color: #ebf3f3;
}
h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 70px;
}
#MainBox{
    border: 2px solid black;
    display: flex;
    margin: 100px auto;
    background-color: white;
    width: 90vmin;
    height: 90vmin;


}
#EditGrid{
    display: flex;
    background-color: #d7fffefe;
    justify-content: right;
    flex-direction: column;
    height: 200px;
    padding: 30px;
    border-radius: 5%;
    gap: 10px;
    border: 2px solid black;
    margin-right: 300px;
}
.merge1 {
  display: flex;
  flex-direction: row; 
  /* gap: 10px;             */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.buttons{
    gap: 10px;
}
button {
  display: inline-block; /* or remove this line entirely */
  font-size: 26px;
  align-self: flex-start;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #a8fffcc4;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
}
#sizeValue{
    font-size: 30px;
    font-family: Verdana;
    
}
.editWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chooseColor {
  position: absolute;
  top: -20px; /* move it above */
  left: 10px; /* move it slightly to the side */
}
@font-face {
  font-family: 'DoubleTroubleSara';
  src: url('fonts/DoubleTroubleSaraRegular.ttf') format('truetype');
}

h1, button {
  font-family: 'DoubleTroubleSara', cursive;
}
footer {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: #555;
}
