body {
    background-color: #ebf3f3;
}
h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 70px;
}
#MainBox{
    border: 2px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    margin: 100px auto;
    background-color: white;
}
#EditGrid{
    display: flex;
    background-color: #d7fffefe;
    justify-content: right;
    flex-direction: column;
    height: 200px;
    padding: 30px;
    border-radius: 5%;
    gap: 10px;
    border: 2px solid black;
    margin-right: 300px;
}
.merge1 {
  display: flex;
  flex-direction: row; 
  gap: 10px;            
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.buttons{
    gap: 10px;
}
button {
  display: inline-block; /* or remove this line entirely */
  font-size: 26px;
  align-self: flex-start;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #a8fffcc4;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
}
#sizeValue{
    font-size: 30px;
    font-family: Verdana;
    
}


