body {
    background-color: #22C1C3;
}
h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 70px;
}
#MainBox{
    border: 2px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    margin: 100px auto;
}
